<launch>
  <node name="SLAM" type="ndt_slam" pkg="ndt_slam" output="screen" >
    <param name="/filename_in" type="str" value="/home/takahashi/senser_data/tsukuba2_20211107/tsukuba2_20211107.txt" />
    <param name="/map_name" type="str" value="tsukuba2_20211107.pcd" />
    <param name="/separated_map_name" type="str" value="tsukuba2_20211107_sep" />
    <param name="/poses_name" type="str" value="tsukuba2_20211107_poses.txt" />

    <param name="/draw_skip" type="int" value="5" />            <!-- 地図描画の周期 -->
    <param name="/start_frame" type="int" value="0" />        <!-- スタートするフレーム番号 -->
    <param name="/end_frame" type="int" value="690" />        <!-- 終了するフレーム番号 -->
    <param name="/keyframe_skip" type="int" value="5" />        <!-- 全体地図を作る周期 -->

    <param name="/score_thre" type="double" value="0.5" />      <!-- スコアの閾値 -->

    <param name="/space" type="double" value="0.05" />          <!-- Xm スキャン点間隔 -->
    <param name="/space_thre" type="double" value="0.25" />     <!-- Xcm スキャン点間隔の閾値 -->

    <param name="/sepThre" type="double" value="10.0" />     <!-- Xmごとにサブマップを作る -->

    <param name="/removeMoving" type="bool" value="true" />     <!-- 動的物体を除去するか -->
    <param name="/resol" type="double" value="0.05" />     <!-- 点群の差分取得の解像度 -->
    <param name="/thre_neighbor" type="double" value="0.2" />     <!-- 近傍点のしきい値 -->

    <param name="/sidelidar" type="bool" value="false" />     <!-- 横のlidarを使うか -->

    <param name="/delTime" type="double" value="0.5" />     <!-- センサデータの時間間隔 -->

    <param name="/coeVel" type="double" value="0.1" />     <!-- オドメトリ共分散の係数 -->
    <param name="/coeOmega" type="double" value="0.5" />     <!-- オドメトリ共分散の係数 -->
    <param name="/coeNDTCov" type="double" value="1.0" />     <!-- NDT共分散の係数 -->

    <param name="/TransformationEpsilon" type="double" value="0.01" />
    <param name="/StepSize" type="double" value="0.1" />
    <param name="/Resolution" type="double" value="0.3" />
    <param name="/MaximumIterations" type="int" value="35" />
    <param name="/LeafSize" type="double" value="0.05" />
    
  </node>
</launch>
