<launch>
  <node name="SLAM" type="ndt_mapping" pkg="ndt_mapping" output="screen" />

  <param name="/filename_in" type="str" value="/home/takahashi/catkin_ws/camera_lidar_odom201203.txt" />

  <param name="/draw_skip" type="int" value="5" />            <!-- 地図描画の周期 -->
  <param name="/start_frame" type="int" value="190" />        <!-- スタートするフレーム番号 -->
  <param name="/end_frame" type="int" value="100000" />        <!-- 終了するフレーム番号 -->
  <param name="/keyframe_skip" type="int" value="5" />        <!-- 全体地図を作る周期 -->
  <param name="/score_thre" type="double" value="0.5" />      <!-- スコアの閾値 -->
  <param name="/num_thre" type="int" value="150" />            <!-- 使用スキャン点数の閾値 -->
  <param name="/space" type="double" value="0.05" />          <!-- 5cm スキャン点間隔 -->
  <param name="/space_thre" type="double" value="0.25" />     <!-- 25cm スキャン点間隔の閾値 -->
  <param name="/sepThre" type="double" value="10.0" />     <!-- 10mごとにサブマップを作る -->
  <param name="/delTime" type="double" value="0.5" />     <!-- センサデータの時間間隔 -->
  <param name="/coeVel" type="double" value="0.1" />     <!-- オドメトリ共分散の係数 -->
  <param name="/coeOmega" type="double" value="0.1" />     <!-- オドメトリ共分散の係数 -->
  <param name="/coeNDTCov" type="double" value="1.0" />     <!-- NDT共分散の係数 -->

  <param name="/TransformationEpsilon" type="double" value="0.01" />
  <param name="/StepSize" type="double" value="0.1" />
  <param name="/Resolution" type="double" value="0.8" />
  <param name="/MaximumIterations" type="int" value="35" />
  <param name="/LeafSize" type="double" value="0.2" />
</launch>
